body { font-family: 'Segoe UI', sans-serif; text-align: center; background-color: #f0f4f8; margin: 0; padding: 10px; touch-action: manipulation; }

canvas {
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

button {
  padding: 15px 30px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#topbar { display: flex; padding: 10px; }